00_macro.tex
bibsample.bib
ebibsample.bib
esample.pdf
esample.tex
ipsj-interaction2020_yichikawa.aux
ipsj-interaction2020_yichikawa.bbl
ipsj-interaction2020_yichikawa.blg
ipsj-interaction2020_yichikawa.dvi
ipsj-interaction2020_yichikawa.log
ipsj-interaction2020_yichikawa.pdf
ipsj-interaction2020_yichikawa.synctex.gz
ipsj.cls
ipsjpref.sty
ipsjsort-e.bst
ipsjsort.bst
ipsjtech.sty
ipsjunsrt-e.bst
ipsjunsrt.bst
jsample.dvi
jsample.pdf
junsrt.bst
knee_howto.pdf
read me.txt
ref.bib
tech-jsample.dvi
tech-jsample.pdf
tech-jsample.tex
.texpadtmp/ipsj-interaction2020_yichikawa.aux
.texpadtmp/ipsj-interaction2020_yichikawa.bbl
.texpadtmp/ipsj-interaction2020_yichikawa.blg
.texpadtmp/ipsj-interaction2020_yichikawa.dvi
.texpadtmp/ipsj-interaction2020_yichikawa.log
.texpadtmp/ipsj-interaction2020_yichikawa.synctex.gz
.texpadtmp/jsample.aux
.texpadtmp/jsample.bbl
.texpadtmp/jsample.blg
.texpadtmp/jsample.dvi
.texpadtmp/jsample.log
.texpadtmp/jsample.synctex.gz
.texpadtmp/tech-jsample.aux
.texpadtmp/tech-jsample.dvi
.texpadtmp/tech-jsample.log
.texpadtmp/tech-jsample.synctex.gz
